:root {
  --primary-marron: rgba(60, 0, 0, 1);
  --variable-collection-marron-light: rgba(171, 74, 74, 1);
  --variable-collection-panelbgcolor: rgba(246, 248, 249, 1);
  --base-white: rgba(255, 255, 255, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --gray-600: rgba(71, 84, 103, 1);
  --gray-700: rgba(52, 64, 84, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --text-lg-semibold-font-family: 'Inter-SemiBold', Helvetica;
  --text-lg-semibold-font-size: 18px;
  --text-lg-semibold-font-style: normal;
  --text-lg-semibold-font-weight: 600;
  --text-lg-semibold-letter-spacing: 0px;
  --text-lg-semibold-line-height: 28px;
  --text-md-semibold-font-family: 'Inter-SemiBold', Helvetica;
  --text-md-semibold-font-size: 12px;
  --text-md-semibold-font-style: normal;
  --text-md-semibold-font-weight: 600;
  --text-md-semibold-letter-spacing: 0px;
  --text-md-semibold-line-height: 24px;
  --text-sm-medium-font-family: 'Inter-Medium', Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-regular-font-family: 'Inter-Regular', Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --brandbrand-3: rgba(132, 62, 113, 1);
  --heading-BH-1-font-family: 'Inter-Bold', Helvetica;
  --heading-BH-1-font-size: 72px;
  --heading-BH-1-font-style: normal;
  --heading-BH-1-font-weight: 700;
  --heading-BH-1-letter-spacing: 0px;
  --heading-BH-1-line-height: 86px;
  --lightlight-1: rgba(255, 255, 255, 1);
  --medium-36-font-family: 'Roboto-Medium', Helvetica;
  --medium-36-font-size: 36px;
  --medium-36-font-style: normal;
  --medium-36-font-weight: 500;
  --medium-36-letter-spacing: 0px;
  --medium-36-line-height: 48px;
  --variable-collection-pure-black: rgba(0, 0, 0, 1);
  --variable-collection-pure-white: rgba(255, 255, 255, 1);
}
