/* adjust kepler.gl map and table height */
.default-kepler-map {
  height: 100% !important;
}
.main-table {
  padding: 0px;
  flex-grow: 0;
  height: 40%;
}

/* readjust the size of the close button in modal dialog */
.react-responsive-modal-closeButton {
  width: 18px;
}
.dataset-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.data-ex-icons-gear {
  visibility: hidden;
}

/* fix mapboxgl-children */
div[mapboxgl-children] {
  display: none;
}

/* custom chatGPT css */
.cs-main-container {
  border: none !important;
  width: 100%;
  background-color: transparent !important;
  margin-bottom: 12px;
}
.cs-chat-container {
  background-color: transparent !important;
}
.cs-message-list {
  background-color: transparent !important;
  margin-bottom: 20px !important;
}
.scrollbar-container {
  padding: 0 !important;
}
.cs-message-input {
  border: none !important;
  background-color: transparent !important;
  padding-bottom: 12px !important;
}
.cs-message--outgoing {
  padding-right: 12px !important;
}
.cs-message.cs-message--incoming .cs-message__content {
  border-radius: 0 0.7em 0.7em 0;
  background-color: #eeeeee !important;
}
.cs-message-input__content-editor-wrapper {
  background-color: #eeeeee !important;
}
.cs-message-input__content-editor {
  background-color: #eeeeee !important;
}
.ps__thumb-y {
  background-color: #999999 !important;
}
.cs-message--outgoing .cs-message__content {
  color: #ffffff !important;
  background-color: #800000 !important;
}
.cs-message__html-content {
  font-size: var(--text-sm-regular-font-size);
}
.cs-message-list__scroll-wrapper {
  padding: 0 !important;
}
.cs-button--send {
  color: #999999 !important;
}
.cs-button--attachment {
  color: #999999 !important;
}
.cs-typing-indicator {
  background-color: transparent !important;
}
