**/node_modules
**/build
**/.next/
.DS_Store
.env.local
.env.sentry-build-plugin
yarn-error.log
**/.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
library/public/*
library/out/*
webapp/out/*
coverage/